
/* -- Styles Généraux -- */
*{
    margin: 0px;
    box-sizing: border-box;

}
/* -- Barre Nav -- */
.navbar{
    background-color:rgba(0, 0, 0, 0.4);
    width: 100%;
    color: rgba(0,0,0,1);
}
/* -- Fonctionnalités --*/
/* -- Pied de page --*/
footer{
    background-color:var(--secondaire) ;
    
}
.row{
    text-align: center;
    color: var(--primaire);
}
a[href*="github"]{
    color: var(--primaire);
    text-decoration: none;
}
a[href*="github"]:hover{
    color: var(--highlight);
    text-decoration: none;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cadre{
    width: 100%;
    max-width: 400px;
    aspect-ratio: 5/9;
    display: flex;

}
iframe{
    width: 100%;
    aspect-ratio: 5/9;
    max-height: 700px;
    border-radius: 30px;
    border:solid var(--tertiaire) 13px;
}
h1{
    font-size: 50px;
    color: var(--primaire);
}
h2{
    font-size: 40px;
    color: var(--primaire);
    font-family: var(--texte);
}
.hero{
padding-top: 100px;
padding-bottom: 100px;
background-image: url("../assets/landing_hero_background.png");
background-size: 100%;
background-position: top;
}
@media (max-width:1700px) {
    .hero{
        background-size: cover;
    }
}
@media (min-width:992px){
    h1{
        font-size: 100px;
    }h2{
        font-size: 75px;
    }.hero{
        padding: 100px;
    }
}
@media (max-width:50px){
    .pipicaca::after{
        content: "pipicaca";
    }
}
.btn{
    color: var(--highlight);
    border: solid var(--highlight) 3px;
    background-color: var(--secondaire);
    font-size: 30px;

}
.btn:hover{
    color: var(--secondaire);
    background-color: var(--highlight);
    border: solid var(--secondaire) 3px;
    font-size: 30px;

}
.imagelogo{
    width:50px;
    display: inline-block;
    vertical-align: middle;
}


.nav-item a{
    color: white;
}
a:focus{
    color: var(--highlight) !important;
}
a:hover{
    color: var(--highlight) !important;
}
.navbar-collapse.collapsing,
.navbar-collapse.show,.navbar-collapse.show ul li a,.navbar-collapse.collapsing ul li a {
border-radius: 20px;
background-color: var(--highlight);
color: var(--secondaire);
font-size: 30px;
}
.navbar-collapse.show ul li a:hover, .navbar-collapse.show ul li a:focus, .navbar-collapse.collapsing ul li a:hover, .navbar-collapse.collapsing ul li a:focus{
    color: white !important; /* Le (--primaire) n'est pas assez petant (on voit rien)*/
}
#section-features{
    background: var(--secondaire);
}
.card{
    background-color: var(--secondaire);
    border: solid 3px var(--primaire);
    border-radius: 0;
    padding: 10px;
}
h3{
    color: var(--highlight) !important;
    font-family: var(--titre);
    font-weight: 600;
    font-size: 35px;
    margin-top: 10px;
}
.card-text{
    font-size: 20px;
}
i{
    font-size: 40px;
    background: var(--secondaire);
    color: var(--highlight);
    border-radius: 40px;
    border: var(--highlight) solid 2px;
    padding: 8px;

}
#section-testimonials{
    background-color: var(--primaire);
}
.card-img-top{
    height: 20vh;
    object-fit: cover;
}

.card-img-top.top{
    object-position: 0 0;
}

#section-testimonials .titre,
#section-testimonials .titre h2 {
    color: var(--secondaire);
}
#infolettre{
    background-image: url("../assets/infolettre_image_1.jpg");
background-repeat: no-repeat;
background-size:cover;
background-position: 0 50%;
}
#infolettre .container .row .col-12{
    background-color: rgba(1,1,1,0.7);
}
.bi-chat-left-quote{
    position: absolute;
    left: -15px;
    top: -15px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 1);
}
#section-testimonials .container .row .col-12 .card,#section-testimonials .container .row .col-12 .card img{
    border: solid var(--highlight);
    border-radius: 10px;
}
#section-testimonials .container .row .col-12 .card .card-body i{
    border: solid var(--highlight) 4px
}
.input-group-append{
    font-size: 25px;
    border: none;
}

.modal{
    text-align: center;
}

#faq{
    background-color: var(--bs-primary);
}
.h4{
    color: var(--bs-dark) !important;
}
.accordion-button{
    border: solid var(--bs-dark) 1px;
}
.accordion-body{
    border: solid var(--bs-dark) 1px;

}