
/* -- Styles Généraux -- */
p {
    font-family: var(--texte);
}

/* -- Barre Nav -- */

.navbar {
    width: 100%;
    background-color: var(--tertiaire);
    font-family: var(--titre);
}

.navbar-toggler {
    background-color: var(--highlight)
}

.pfp img{
    border-radius: 50px;
}




/* -- Barre de recherche --*/

.btn {
    border-color: var(--highlight);
    color: var(--highlight);
}

.btn:hover {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

.btn:active {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

.btn:hover .bi-search  {
    color: var(--primaire);
}

.bi-search {
    color: var(--highlight);
}

.form-control:hover {
    border-color: var(--highlight);
}

/* -- Section En Vedette -- */

/* -- Section Autres --*/

/* -- Footer -- */

footer {
    background-color: var(--tertiaire);
    color: var(--primaire);
    text-align: center;


}








