
/* -- Styles Généraux -- */
p {
    font-family: var(--texte);
    text-align: center;
}

h2 {
    font-size: xx-large;
    padding: 20px 0 20px 0;
}

.indexmain {
    padding-top: 100px;
}


/* -- Barre Nav -- */

.navbar {
    width: 100%;
    font-family: var(--titre);
}

.navbar-toggler {
    background-color: var(--highlight)
}

.pfp img{
    border-radius: 50px;
}




/* -- Barre de recherche --*/

.btn {
    border-color: var(--highlight);
    color: var(--highlight);
    text-align: center;
    white-space: nowrap;

}

.btn:hover {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

.btn:active {
    background-color: var(--highlight);
    border-color: var(--highlight);
}

.btn:hover .bi-search  {
    color: var(--primaire);
}

.bi-search {
    color: var(--highlight);
}

.form-control:hover {
    border-color: var(--highlight);
}

.btn.filtres {
    font-size: 15px;
}



/* -- Section En Vedette -- */

.card-img-top {
    height: 20vh;
    object-fit: cover;
}

a {
    color: var(--highlight);
}

.card:hover {
    border-color: var(--highlight);
}

#cartes {
    overflow: hidden;
}

#cartes .card{
    max-width: 200px;
    padding: 5px;
}

body {
    overflow-x: hidden;
}

/* -- Footer -- */

footer {
    background-color: var(--secondaire);
    color: var(--primaire);
    text-align: center;


}

ul {
    border: none;
}



li{
    display: inline-block;
}

.boutons {
    text-align: center;

}

/* -- Section Autres --*/

.navbar .artwork {
    background-color:rgba(60, 60, 60, 0) !important;
}

.oeuvre {
    height: 33vh;
    object-fit: cover;
}

.artistework {
    background-color: var(--primaire);
    border-radius: 20px 0px 20px 0px;
}

/* -- Artwork.html -- */

#heart {
    font-size: 35px;
    color: var(--highlight);
}


.swiper-slide{
    display: inline !important;
    width: fit-content  !important;
}
.oeuvre{
    font-size: 20px;
    height: auto;
}
.artiste{
    font-size:10px;
    height: auto;
}
.date{
    font-size: 10px;
}
.petit{
    font-size: 10px;
}