
/* -- Styles Généraux -- */
*{
    margin: 0px;
    box-sizing: border-box;
}
/* -- Barre Nav -- */
.navbar{
    background-color:rgba(0, 0, 0, 0.2);
    width: 100%;
}
/* -- Fonctionnalités --*/
/* -- Pied de page --*/
footer{
    background-color:var(--secondaire) ;
    
}
.row{
    text-align: center;
    color: var(--primaire);
}
a[href*="github"]{
    color: var(--primaire);
    text-decoration: none;
}
a[href*="github"]:hover{
    color: var(--highlight);
    text-decoration: none;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cadre{
    width: 100%;
    max-width: 400px;
    aspect-ratio: 5/9;
    display: flex;

}
iframe{
    width: 100%;
    aspect-ratio: 5/9;
    max-height: 600px;
    border-radius: 30px;
    border:solid var(--tertiaire) 13px;
}
h1{
    font-size: 150px;
    color: var(--primaire);
}
h2{
    font-size: 70px;
    color: var(--primaire);
    font-family: var(--texte);
}
.hero{
padding: 100px;
background-image: url("../assets/landing_hero_background.png");
background-size:cover;
background-position: top;
}