@font-face {
    src: url("assets/LibreCaslonText-Regular.ttf") format("truetype");
    font-family: "Caslon";
  }

  @font-face {
    src: url("assets/Nomark.otf") format("opentype");
    font-family: "Nomark";
  }



:root {
    --primaire: #e3dfdb;
    --secondaire: #343434;
    --tertiaire: #646464;
    --quaternaire: #949494;
    --highlight: #d0a854;
    --titre: "Nomark";
    --texte: "Caslon";
    
}

h1, .h1 {
    font-family: var(--titre);
    font-size: 200px;
    font-weight: 900px;
    color: var(--primaire);
}

h2, .h2 {
    font-family: var(--titre);
    font-size: 100px;
    font-weight: 900px;
    color: var(--secondaire);
}

h3, .h3 {
    font-family: var(--titre);
    font-size: 75px;
    font-weight: 900px;
    color: var(--secondaire);
}

h4, .h4 {
    font-family: var(--titre);
    font-size: 50px;
    font-weight: 900px;
    color: var(--secondaire);
}

h5, .h5 {
    font-family: var(--titre);
    font-size: 30px;
    font-weight: 900px;
    color: var(--secondaire);
}

h6, .h6 {
    font-family: var(--titre);
    font-size: 25px;
    font-weight: 900px;
    color: var(--secondaire);
}

/* -- Styles Généraux -- */

/* -- Barre Nav -- */

/* -- Fonctionnalités --*/



